
.body{
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #FFECEC;

}
#header{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  color: #FFFFFF;
  height: 100px;
  background: hsla(31, 90%, 76%, 1);

  background: linear-gradient(90deg, hsla(31, 90%, 76%, 1) 0%, hsla(302, 82%, 76%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(31, 90%, 76%, 1) 0%, hsla(302, 82%, 76%, 1) 100%);

  background: -webkit-linear-gradient(0deg, hsla(31, 90%, 76%, 1) 0%, hsla(302, 82%, 76%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#f9c58d", endColorstr="#f492f0", GradientType=1 );
  }
#header h1{
  margin: 0;
  margin-top: 10px;
  
  font-size: 68px;
}

#main{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  }
#projects{
  width: 90%;
  min-width: 930px;
  max-width: 1500px;;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}
#projects h2{
  text-align: center;
}

#projectsContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  
}
.projectElt{
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  flex-basis: 45%;
  
  align-items: center;
  background-color: #FFFFFF;
  height: min-content;
  max-height: 900px;
  min-height: min-content;
  margin-bottom: 45px;
}
.projectElt img{
  max-height: calc(900px*0.75);
  min-height: calc(350px*0.75);
  width: 90%;
  order: -1;
}
#projectName{
  margin: 0;
  margin-bottom: 20px;
  color: aqua;
  font-size: 40px;
}

#projectDesc{
  display: none;
}
