
.bodyLightMode{
  --gradient-first-color: hsla(31, 90%, 76%, 1);
  --gradient-second-color: hsla(302, 82%, 76%, 1);
  --background-color: #FFECEC;
  --title-text-color: #FFFFFF;
  --basic-text-color: #2B2B2B;
  --modebtn-color: #FFFFFF;

  animation:  1s ease-out 0s 1 appear;
}

.bodyDarkMode{
  --gradient-first-color: hsla(302, 82%, 76%, 1);
  --gradient-second-color: hsla(248, 80%, 53%, 1);
  --background-color: #1F1C33;
  --title-text-color: #FFFFFF;
  --basic-text-color: #F1F1F1;
  --modebtn-color: #4c495c;

  animation: 1s ease-out 0s 1 appear; 
}

.body{
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  background-color: var(--background-color);
}

.modeBtn{
  position: absolute;
  width: 60px;
  height: 50px;
  top: 110px;
  right: 20px;
  background-color: #fff; /*var(--modebtn-color);*/
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.outLink{
  text-decoration: none;
  animation: textGradient 15s ease infinite;
}

#header{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  color: var(--title-text-color);
  height: 100px;
  background: hsla(31, 90%, 76%, 1);

  background: linear-gradient(90deg, var(--gradient-first-color) 0%, var(--gradient-second-color) 100%);

  background: -moz-linear-gradient(90deg, var(--gradient-first-color) 0%, var(--gradient-second-color) 100%);

  background: -webkit-linear-gradient(0deg, var(--gradient-first-color) 0%, var(--gradient-second-color) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#f9c58d", endColorstr="#f492f0", GradientType=1 );

  animation: gradient 15s ease infinite;
  background-size: 200% 200%;

}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@keyframes textGradient {
  0% {
		color: var(--gradient-first-color);
	}
	50% {
		color: var(--gradient-second-color);
	}
	100% {
		color: var(--gradient-first-color);
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#header h1{
  margin: 0;
  margin-top: 10px;
  
  font-size: 68px;
}

#main{
  color: var(--basic-text-color);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  }

#intro{
  text-align: center;
}
#projects{
  width: 90%;
  min-width: 930px;
  max-width: 1500px;;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#projects h2{
  text-align: center;
}

#projectsContainer{
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 25px
  
}

/*PROJECT CARDS*/

.projectElt{
  border-radius: 25px;
  flex-basis: 45%;
  background: linear-gradient(90deg, var(--gradient-first-color) 0%, var(--gradient-second-color) 100%);

  background: -moz-linear-gradient(90deg, var(--gradient-first-color) 0%, var(--gradient-second-color) 100%);

  background: -webkit-linear-gradient(0deg, var(--gradient-first-color) 0%, var(--gradient-second-color) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#f9c58d", endColorstr="#f492f0", GradientType=1 );

  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
  height: min-content;
  margin-bottom: 45px;
  
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.projectElt .frontCard{
  position: relative;
  border-radius: inherit;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 0s;
  transition-delay: 0.2s;

}
.projectElt .backCard{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: inherit;
  transform: rotateY(180deg);
  opacity: 0;
  transition: opacity 0s;
  transition-delay: 0.2s;
}
.projectElt .projectName{
  font-size: 26px;
  padding-left: 10px;
}
.projectElt .projectStatus{
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgb(10, 10, 10);
}

.projectElt .projectDesc{
  font-size: 20px;
}

.projectElt:hover{

  transform: rotateY(180deg);
}

.projectElt .projectImg{
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border: none;
  order: -1;
  width: 100%;
}

.gitHubLogo{
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.projectElt:hover .frontCard{
  opacity: 0;
  transition: opacity 0s;
  transition-delay: 0.2s;
}
.projectElt:hover .backCard{
  position: absolute;
  display: flex;
  flex-flow: column;
  top: 10px;
  right: 10px;

  opacity: 1;
  transition: opacity 0s;
  transition-delay: 0.2s;

}



